.App {
  text-align: center;
  border: solid 1px black;
}

.App-venues-box{
  width: 49%;
  display: inline-block;
  border: solid 1px green;
  vertical-align: top;
}

.App-map-box{
  width: 49%;
  display: inline-block;
  border: solid 1px green;
  vertical-align: top;
}

.App-search-location-box{
  width:100%;
}

.SearchLocation{
  border: solid 1px blue;
  width: 85%;
  display: inline-block;
}

.List{
  border: solid 1px red;
}

.Map{
  border: solid 1px red;
}

#map{
  border: solid 1px blue;
  width: 400px;
  height: 400px;
}

.VenuesSearch{
  border: solid 1px blue;
}

.Venues{
  border: solid 1px blue;
}

.Venues-card{
  background-color: #fafafa;
  margin: 1% 1%;
  border-radius: 5px;
  box-shadow: 3px 2px #bbb;
}
/*for focused venue card*/
#focused {
  background-color: #fefefe;
  box-shadow: 3px 7px #b5b5b5;
}

.Venues-card-head{
  padding: 2% 2% 0% 2%;
}

.Venues-card-head-name{
  float:left;
}

.Venues-card-head-rate{
  float:right;
}

.Venues-card-head::after{
  content: '';
  clear:both;
  display: table;
}

.Venues-card-details{
  vertical-align: top;
  text-align: left;
}

.Venues-card-details > span{
  display: inline-block;
  margin: 1% 0% 1% 1%;
  vertical-align: top;
  font-size: 0.9em;
}

.Venues-card-details-time{
  width: 27%;
}

.Venues-card-details-time > span{
  margin: 1% auto;
}
