.App {
  text-align: center;
  border: solid 1px black;
}

.App-venues-box{
  width: 49%;
  display: inline-block;
  border: solid 1px green;
  vertical-align: top;
}

.App-map-box{
  width: 49%;
  display: inline-block;
  border: solid 1px green;
  vertical-align: top;
}

.App-search-location-box{
  width:100%;
}

.SearchLocation{
  border: solid 1px blue;
  width: 85%;
  display: inline-block;
}

.Miles{
  border: solid 1px green;
  width: 13%;
  display: inline-block;
}

.List{
  border: solid 1px red;
}

.Map{
  border: solid 1px red;
}

.VenuesSearch{
  border: solid 1px blue;
}

.Venues{
  border: solid 1px blue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
